@{
    ViewBag.Title = "Textum Reader - Anki Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Awesome!</h1>
    <p>You have added you Anki Accaunt, so new you're able to add words directly to Anki. You can do it within any dictionary by checking words and pushing the <span class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Add To Anki</span> button.</p>
    <p>If you're not familiar with Anki, please visit <a target="_blank" href="http://ankisrs.net/">ankisrs.net</a>.</p>
    <p>Ok, now you might want to add a new material.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Material")"><span class="glyphicon glyphicon-plus"></span> Add a material</a></p>
</div>

