@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
    }
    
    @Html.MenuLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account")
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else
{
    @Html.MenuLink("Register", "Register", "Account")
    @Html.MenuLink("Log in", "Login", "Account")
}