.translation {
     background-color: #dee6e9;
     margin: 3px;
}

.closeBtn {
    background-color: transparent;
    position: relative;
    top: -10px;
    right: -5px;

    margin: 0px;
    padding: 0px;
    border: 0px;

    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
}

.closeBtn:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

table a {
    color: #2C3E50;
    text-decoration: none !important;
}

table a:hover { color: #537291; }

.nav a:hover { color: #178cba !important; }

.navbar-header a:hover { color: #178cba !important; }

.centered {
    float: none;
    margin: 0 auto;
}

.buttons .btn {
    height: 33px;
    width: 60px;
    text-decoration: none;
}

.table td { vertical-align: middle !important; }

.centered-column { text-align: center; }

body { margin-top: 80px; }

#category {
    height: 30px;
    padding: 2px;
    margin: 2px;
}

#list { margin-top: 20px; }


.ui-dialog-titlebar {
    background-image: none;
    color: #202D3B;
    background-color: #115c7a;
}

.ui-dialog-title { color: #ffffff; }

.ui-dialog { background: #dddddd !important }

​

.word_split span:hover { font-weight: bold; }

#dialog { font-size: 12px; }

.translationLight {
    color: #115c7a;
    background-color: #ffffff;
    font-weight: bold;
}

.lighted {
    color: blue;
    background-color: #ffffff;
}


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea { min-height: 75px; }

.editor-label { margin: 1em 0 0 0; }

.editor-field { margin: 0.5em 0 0 0; }


/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid { display: none; }