.addedToAnki { color: #9a9a9a; }

.translation {
    background-color: #dee6e9;
    margin: 3px;
}

.closeBtn {
    background-color: transparent;
    border: 0px;
    color: #000000;
    filter: alpha(opacity=20);

    font-size: 15px;
    font-weight: bold;
    margin: 0px;

    opacity: 0.2;
    opacity: 0.2;
    padding: 0px;
    position: relative;
    right: -5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    top: -10px;
}

.closeBtn:hover {
    color: #000000;
    cursor: pointer;
    filter: alpha(opacity=40);
    opacity: 0.4;
    text-decoration: none;
}

table a {
    color: #2C3E50;
    text-decoration: none !important;
}

table a:hover { color: #537291; }

.nav a:hover { color: #178cba !important; }

.nav a:active { color: #178cba !important; }

.navbar-header a:hover { color: #178cba !important; }

.navbar-header a:active { color: #178cba !important; }


.centered {
    float: none;
    margin: 0 auto;
}

.buttons .btn {
    height: 33px;
    text-decoration: none;
    width: 60px;
}

.table td { vertical-align: middle !important; }

.centered-column { text-align: center; }

/*body { margin-top: 80px; } */

#category {
    height: 30px;
    margin: 2px;
    padding: 2px;
}

#list { margin-top: 20px; }

.word_split span:hover { font-weight: bold; }

#dialog { font-size: 12px; }

.translationLight {
    background-color: #ffffff;
    color: #115c7a;
    cursor: pointer;
}

.lighted {
    background-color: #115c7a;
    color: #ffffff;
    cursor: pointer;
    font-weight: normal;
}

/* JQuery
-----------------------------------------------------------*/
.ui-dialog-titlebar {
    background-color: #115c7a;
    background-image: none;
    color: #202D3B;
}

.ui-dialog-title { color: #ffffff; }

.ui-dialog { background: #dddddd !important }


/* Bootstrap 
-----------------------------------------------------------*/
.popover-title {
    background-color: #115c7a;
    border-bottom: 1px solid #202D3B;
    color: white;
    font-weight: bold;
}
​
.popover {
    background-color: #a3a3a3 !important;
}

.popover-content {
  background-color: #ebebeb !important;
}

.popover.bottom > .arrow:after {
  border-bottom-color: #ffffff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea { min-height: 75px; }

.editor-label { margin: 1em 0 0 0; }

.editor-field { margin: 0.5em 0 0 0; }


/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #fee;
    border: 1px solid #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.validation-summary-valid { display: none; }