@{
    ViewBag.Title = "Congratulations, you have registred!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Congratulations!</h1>
    <p>You have registred and now you can strat using the site. If you want to add your Anki Accaunt in order to add words directly to Anki, please click on the button below.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("RegisterStep1", "Anki")"><span class="glyphicon glyphicon-plus"></span> Add your Anki Accaunt</a></p>
    <p>If you don't know what Anki is, please visit <a target="_blank" href="http://ankisrs.net/">ankisrs.net</a>.</p>
    <p>You also could add your first material.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Material")"><span class="glyphicon glyphicon-plus"></span> Add a material</a></p>
</div>