
@{
    ViewBag.Title = "Congratulations, you have registred!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>You have registred and now you can strat using the site.</p>
<p>If you want to add your Anki Accaunt in order to add words to Anki, please click @Html.ActionLink("here","RegisterStep1","Anki").</p>

