@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <p>@Html.ActionLink("Change password", "Manage", null, new { @class = "btn btn-primary btn-md", style = "width: 300px;" })</p>
    <p>@Html.ActionLink("Change anki accaunt", "RegisterStep1", "Anki", null, new { @class = "btn btn-primary btn-md", style = "width: 300px;" })</p>
</div>
