@{
    ViewBag.Title = "Textum Reader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" style="background-color: RGBA(0, 0, 0, 0);" src="~/Content/logo.png" width="300" height="300" />
        </div>
        <div class="col-md-8">
            <h1>Textum Reader</h1>
            <p>This project designed to simplify the process of reading texts in foreign languages by giving the ability to mark unfamiliar words and get their translation.</p>
            
            <p>@Html.ActionLink("Learn more", "AdditionalInfo", "Home", null, new { @class = "btn btn-primary btn-lg", role = "button" })</p>
        </div>

        
    </div>
</div>