
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Textum Reader</h1>
    <p>This project designed to simplify the process of reading texts in a foreign language by giving the ability to mark unfamiliar words and add their translation. </p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a>
</div>


